<div
  class="bg-main-light p-4 row m-3"
  *ngIf="cart?.items?.length; else loading"
>
  <h2>Shop Cart</h2>
  <p class="text-main">Total: {{ cart.totalPrice | currency }}</p>

  <div class="card cart">
    <div class="card-header">
      <h3>Your Shopping Cart</h3>
    </div>
    <div class="card-body">
      <div class="cart-item" *ngFor="let product of cart?.items">
        <div class="row">
          <div class="col-xl-3">
            <img
              [src]="product.product.image || 'path/to/placeholder.jpg'"
              alt="Product Image"
              class="img-fluid"
              onError="this.src='path/to/placeholder.jpg'"
            />
          </div>
          <div
            class="col-xl-9 d-flex flex-column flex-xl-row justify-content-between"
          >
            <div>
              <h5 class="w-75">{{ product.product.title }}</h5>
              <p class="text-main">Price: {{ product.product.price }}</p>
              <p>
                Total:
                {{
                  +product.product.price.replace("$", "") * product.quantity
                    | currency
                }}
              </p>
            </div>
            <div class="my-auto">
              <div class="btn-group mx-auto my-2 me-2">
                <button
                  class="btn border-main btn-sm"
                  (click)="incrementQuantity(product.asin)"
                >
                  +
                </button>
                <span
                  class="mx-2 d-flex justify-content-center align-items-center"
                  >{{ product.quantity }}</span
                >

                <button
                  class="btn border-main btn-sm"
                  (click)="decrementQuantity(product.asin)"
                >
                  -
                </button>
              </div>
              <button
                class="btn btn-danger"
                (click)="removeProduct(product.asin)"
                aria-label="Delete Product"
              >
                <i class="fa-regular fa-trash-can"></i>
                Delete
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer p-4">
      <button
        class="btn btn-danger float-start"
        (click)="clearCart()"
        aria-label="Clear Cart"
      >
        Clear Cart
      </button>
      <button
        class="btn btn-main float-end"
        (click)="handlePayment(cart._id)"
        aria-label="Clear Cart"
      >
        CheckOut
        <i class="fa-brands fa-cc-visa ms-2"></i>
      </button>
    </div>
  </div>
</div>

<div [ngStyle]="{ top: load ? '50%' : '-105px' }" class="loading">
  {{ loadMsg ? loadMsg : " Updating Your Cart..." }}
</div>

<ng-template #loading>
  <div class="alert alert-info">{{ loadingMsg }}</div>
</ng-template>
