<div class="container">
  <div class="row py-4 gx-0">
    <div class="col-md-9">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide>
          <img height="400" class="w-100" src="assets/slider_1.jpg" />
        </ng-template>

        <ng-template carouselSlide>
          <img height="400" class="w-100" src="assets/slider_2.jpg" />
        </ng-template>
        <ng-template carouselSlide>
          <img height="400" class="w-100" src="assets/slider_3.jpg" />
        </ng-template>
        <ng-template carouselSlide>
          <img height="400" class="w-100" src="assets/slider_4.jpeg" />
        </ng-template>
      </owl-carousel-o>
    </div>
    <div class="col-md-3">
      <!-- <img height="200" src="../../assets/side_3.jpg" /> -->
      <!-- <img height="200" src="../../assets/side_1.webp" /> -->
      <img height="200" class="w-100" src="../../assets/side_2.webp" />
      <img height="200" class="w-100" src="../../assets/side_4.webp" />
    </div>
  </div>
</div>
